---
// Component Imports

// You can import components from any supported Framework here!

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = "My Astro Site";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" href={Astro.resolve("../styles/global.css")} />
  </head>
  <body>
    <main>
      <header>
        <div class="bg-slate-700">
          <img width="60" height="80" src="/assets/logo.svg" alt="Astro logo" />
          <h1 class="text-6xl">
            Welcome to <a href="https://astro.build/">Astro</a>
          </h1>
        </div>
      </header>
    </main>
  </body>
</html>
