---
import Icon from "../components/Icon.astro";
import Form from "../components/Form.tsx";
let title = "Connor Adams - Developer & Tech Enthusiast in London";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={title} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={title} />
    <meta property="og:type" content="website" />
    <meta
      property="og:image"
      content="https://connoradams.co.uk/assets/share.png"
    />
    <meta property="og:url" content="https://connoradams.co.uk" />
    <meta name="twitter:card" content="summary_large_image" />

    <title>{title}</title>
    <link rel="icon" type="image/png" href="/assets/favicon.png" />
  </head>
  <body class="bg-emerald-500 min-h-screen">
    <div class="flex items-center justify-center pt-12 pb-6">
      <div
        class="bg-white rounded-xl shadow-2xl ml-3 mr-3 px-6 py-4 md:px-12 md:py-12 space-y-4 md:space-y-6 xl:space-y-8"
      >
        <h1
          class="text-center font-serif text-3xl md:text-5xl xl:text-7xl mx-auto"
        >
          Connor Adams
        </h1>
        <img
          width="531"
          height="530"
          class="rounded-full w-auto h-28 md:h-44 xl:h-60 mx-auto"
          src="/assets/profile.jpg"
          alt="Photo of Connor Adams"
        />
        <h2 class="text-center text-xl md:text-3xl xl:text-5xl mx-auto">
          Developer & Tech Enthusiast
        </h2>
        <div class="flex justify-center">
          <p
            class="text-center font-light text-l md:text-2xl xl:text-4xl leading-relaxed md:leading-relaxed xl:leading-relaxed max-w-sm md:max-w-xl xl:max-w-2xl"
          >
            Would you like to
            <a
              class="underline hover:no-underline"
              href="https://studywith.connoradams.co.uk/">Study with Connor</a
            >? 🎓
          </p>
        </div>
        <div class="flex justify-center space-x-4">
          <Icon
            href="https://www.linkedin.com/in/connoradams"
            name="linkedin"
            title="LinkedIn profile"
          />
          <Icon
            href="https://twitter.com/connorads"
            name="twitter"
            title="Twitter profile"
          />
          <Icon
            href="https://medium.com/@connorads"
            name="medium"
            title="Medium profile"
          />
          <Icon
            href="https://github.com/connorads"
            name="github"
            title="GitHub profile"
          />
          <Icon
            href="https://lockbot.app/"
            name="lock"
            title="Lockbot Slack app"
          />
          <Icon
            href="https://thepengestkhans.co.uk/"
            name="map"
            title="The Pengest Khans"
          />
        </div>
        <div class="mx-auto divide-gray-400 divide-y-2 max-w-sm md:max-w-xl">
          <div></div>
          <div></div>
        </div>
        <div class="flex flex-col justify-center">
          <h3 class="text-center text-1xl md:text-3xl xl:text-4xl">Contact</h3>
        </div>
        <div>
          <Form client:load />
        </div>
      </div>
    </div>
  </body>
</html>
