---
import { Icon } from "astro-icon";

export interface Props {
  href: string;
  name: string;
  title: string;
}

const { href, name, title } = Astro.props;
---

<a
  {href}
  class="inline-block p-2 rounded-full bg-white bg-opacity-90 hover:bg-emerald-400 transition-colors"
>
  <Icon class="h-6 md:h-9 xl:h-12" {name} {title} />
</a>
