---
import { Icon as AstroIcon } from "astro-icon/components";

export interface Props {
  href: string;
  name: string;
  title: string;
}

const { href, name, title } = Astro.props;
---

<a
  href={href}
  class="inline-block p-2 rounded-full bg-white bg-opacity-90 hover:bg-emerald-400 transition-colors"
  aria-label={title}
>
  <AstroIcon name={name} class="size-6 md:size-9 xl:size-12" />
</a>
